nav ul {
    list-style: none;
    margin: 5em 0 0;
    padding: 0;
    text-align: center;
}

nav ul li ::deep a {
    width: 100%;
    padding: 10px;
    display: block;
    color: #fff;
    text-decoration: none;
}

nav ul li ::deep a:hover, nav ul li ::deep a:active, nav ul li ::deep a:focus, nav ul li ::deep a.active {
    background: rgba(255, 255, 255, .3);
}