.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
**/local.settings.json

# Visual Studio Ignores
**/.vs/*

.vs/*

# Local History for Visual Studio Code
.history/
iac/env/tts/eth.bash
iac/env/tts/eth1.bash
iac/env/tts/eth2.bash
/Notifications/Piipan.Notifications.Api/bin/Debug/net6.0
/Notifications/Piipan.Notifications.Api/obj/Debug/net6.0
/Notifications/src/Piipan.Notifications.Client/bin/Debug/net6.0
/Notifications/src/Piipan.Notifications.Client/obj/Debug/net6.0
/Notifications/src/Piipan.Notifications.Client/obj
/Notifications/src/Piipan.Notifications.Core/bin/Debug/net6.0
/Notifications/src/Piipan.Notifications.Core/obj/Debug/net6.0
/Notifications/src/Piipan.Notifications.Core/obj/release/net6.0
/Notifications/src/Piipan.Notifications.Core/obj
/Notifications/tests/Piipan.Notifications.Core.Integration.Tests/bin/Debug/net6.0
/Notifications/tests/Piipan.Notifications.Core.Integration.Tests/obj/Debug/net6.0
/Notifications/tests/Piipan.Notifications.Core.Integration.Tests/obj
/Notifications/tests/Piipan.Notifications.Core.Tests/bin/Debug/net6.0
/Notifications/tests/Piipan.Notifications.Core.Tests/obj/Debug/net6.0
/Notifications/tests/Piipan.Notifications.Core.Tests/obj
/Notifications/tests/Piipan.Notifications.Func.Api.Integration.Tests/bin/Debug/net6.0
/Notifications/tests/Piipan.Notifications.Func.Api.Integration.Tests/obj/Debug/net6.0
/Notifications/tests/Piipan.Notifications.Func.Api.Integration.Tests/obj
/Notifications/tests/Piipan.Notifications.Func.Api.Tests/bin/Debug/net6.0
/Notifications/tests/Piipan.Notifications.Func.Api.Tests/obj/Debug/net6.0
/Notifications/tests/Piipan.Notifications.Func.Api.Tests/obj
/Notifications/Piipan.Notifications.Api/obj
/Notifications/docs/openapi/schemas
/Notifications/docs/openapi
/Notifications/src/Piipan.Notifications.Api/bin/Debug/net6.0
/Notifications/src/Piipan.Notifications.Api/obj
