@page
@using Microsoft.AspNetCore.Antiforgery
@using Piipan.Match.Api.Models
@using Piipan.QueryTool.Client.Models
@using Piipan.QueryTool.Extensions
@model IndexModel
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "NAC Participant Search";
}
<section class="grid-container">
    <component type="typeof(QueryTool.Client.Components.QueryForm)" render-mode="WebAssembly"
        param-Query="Model.Query"
        param-QueryResult="ParameterBase<OrchMatchResponseData>.FromObject(Model.QueryResult?.Data)" 
        param-Token="antiforgery.GetAndStoreTokens(HttpContext).RequestToken"
        param-ServerErrors="Model.RequestErrors" />
</section>
