@page
@using Microsoft.AspNetCore.Antiforgery
@using Piipan.Match.Api.Models
@using Piipan.QueryTool.Client.Models
@using Piipan.QueryTool.Extensions
@model IndexModel
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "NAC Participant Search";

    Model.QueryFormData.Token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
    Model.QueryFormData.Location = Model.Location;
}
<section class="grid-container">
    <component type="typeof(QueryTool.Client.Components.QueryForm)" render-mode="WebAssembly"
        param-QueryFormData="Model.QueryFormData" />
</section>
