@page
@using Microsoft.AspNetCore.Antiforgery
@model IndexModel
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "NAC Participant Search";
}
<div class="grid-container">
    <component type="typeof(QueryTool.Client.Components.QueryForm2)" render-mode="WebAssemblyPrerendered" 
        param-SearchResponse="Model.QueryResult" param-Token="antiforgery.GetAndStoreTokens(HttpContext).RequestToken"
        param-ServerError="Model.RequestError" />
</div>
