@page
@using Microsoft.AspNetCore.Antiforgery
@model IndexModel
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "NAC Participant Search";
}
<div class="grid-container">
    <component type="typeof(QueryTool.Components.QueryForm)" render-mode="Server" param-Query="Model.Query" />
    <component type="typeof(QueryTool.Components.QueryForm2)" render-mode="Server" param-Query="Model.Query" 
        param-SearchResponse="Model.QueryResult" param-Token="antiforgery.GetAndStoreTokens(HttpContext).RequestToken"
        param-ServerError="Model.RequestError" />
</div>
