@page "{id}"
@using Newtonsoft.Json
@model Piipan.QueryTool.Pages.MatchModel
@{
    ViewData["Title"] = "NAC Participant Search";
}

<div class="grid-container">

    <!-- Match header -->
    <div class="grid-row">
        <h3><span class="usa-tag bg-mint">@Model.Match.Data.Status</span> Match ID: @Model.Match.Data.MatchId</h3>
    </div>
    <!-- \match header -->

    

    <div>
    <!-- \match content -->
        @JsonConvert.SerializeObject(Model.Match)
    </div>
</div> 
