@page
@model Piipan.QueryTool.Pages.MatchModel
@{
    ViewData["Title"] = "NAC Participant Search";
}

<div class="grid-container">

    <!-- Match header -->
    <div class="grid-row">
        <h3><span class="usa-tag bg-mint">@Model.Match.Status</span> Match ID: @Model.Match.MatchId</h3>
    </div>
    <!-- \match header -->

    
    <component type="typeof(QueryTool.Client.Components.MatchForm)" render-mode="WebAssemblyPrerendered" />
    </div>
    <!-- \match content -->

</div> 
