@using Piipan.Match.Api.Models.Resolution
@code {
    [Parameter] public bool InitiatingState { get; set; }
    [Parameter] public Disposition DispositionData { get; set; }

    private (string,string)[] DropdownOptionsOne = new (string,string)[] {("Benefits Approved", "Benefits Approved"), ("Benefits Denied", "Benefits Denied")};
    private (string,string)[] DropdownOptionsTwo = new (string, string)[] { ("Benefits Terminated", "Benefits Terminated"), ("Benefits Unchanged", "Benefits Unchanged") };

    private RenderFragment GetDispositonLabel()
    {
        return @<text> @(DispositionData.FinalDisposition switch
        {

            "Benefits Approved" => "Benefits Start Date",
            "Benefits Terminated" => "Benefits End Date",
            _ => "Final Disposition Date"

        })</text>;

    }
}
<div class="FinalDispositionDiv">
    <h5 class="FinalDispositionHeader">Final Disposition</h5>
    <p class="FinalDispositionText">Final Disposition information can be added once the initial Action has been selected.</p>
        <UsaFormGroup>
            <UsaSelect DropdownOptions="@(InitiatingState ? DropdownOptionsOne : DropdownOptionsTwo)" @bind-Value="DispositionData.FinalDisposition" />
        </UsaFormGroup>

        @if (!String.IsNullOrEmpty(DispositionData.FinalDisposition) || DispositionData.FinalDispositionDate != null)
    {
        <UsaFormGroup LabelOverride="@GetDispositonLabel()">
            <UsaInputDate @bind-Value="DispositionData.FinalDispositionDate" />
        </UsaFormGroup>
    }
</div>
