@code {
    [Parameter] public bool InitiatingState { get; set; }
}
<div class="FinalDispositionDiv">
    <h5 class="FinalDispositionHeader">Final Disposition</h5>
    <p class="FinalDispositionText">Final Disposition information can be added once the initial Action has been selected.</p>
    <form class="usa-form FinalDispositionDropdown">
      <label class="usa-label FinalDispositionLabel" for="options">Final Disposition Taken</label>
      <select class="usa-select FinalDispositionSelect" name="options" id="options">
        <option value>- Select -</option>
        @if (InitiatingState)
            {
                <option value="approved">Benefits Approved</option>
                <option value="denied">Benefits Denied</option>
            }
            else
            {
                <option value="terminated">Benefits Terminated</option>
                <option value="unchanged">Benefits Unchanged</option>
            }
        </select>
    </form>
</div>
