@code {
    [Parameter] public string State { get; set; }
}
<div>
    <h2>Update information about this match for @State</h2>
    <p>After the information is saved, it will appear in the <b>match information</b> panel.</p>

    <VulnerableInvalidStatus></VulnerableInvalidStatus>
    <h4>INITIAL ACTION COMPONENT HERE</h4>
    <h4>FINAL DISPOSITION COMPONENT HERE</h4>
    <button class="usa-button">Save Changes</button>
</div>