@code {
    [Parameter] public string State { get; set; }
    [Parameter] public bool InitiatingState { get; set; }
}
<div>
    <h3>Update information about this match for @State</h3>
    <p class="infoSavedText">After the information is saved, it will appear in the <b>match information</b> panel.</p>
    <VulnerableInvalidStatus></VulnerableInvalidStatus>
    <InitialAction InitiatingState="@InitiatingState"></InitialAction>
    <FinalDisposition InitiatingState="@InitiatingState"></FinalDisposition>
    <button class="usa-button ">Save Changes</button>
</div>