@using Piipan.Match.Api.Models.Resolution
@using static Piipan.QueryTool.Client.Helpers.ValueToDisplayHelper
@using Piipan.QueryTool.Client.Helpers
@code {
    [Parameter] public Disposition Disposition { get; set; }
    [Parameter] public bool InitiatingState { get; set; }

    RenderFragment header =>
        @<h5>@StateHelper.GetStateName(Disposition.State) <span>(@(InitiatingState ? "Initiating" : "Matching") State)</span></h5>
    ;

    Dictionary<string, object> StateValues { get; set; } = new();

    protected override void OnInitialized()
    {
        StateValues.Add("Vulnerable Individual", Disposition.VulnerableIndividual);
        StateValues.Add("Invalid Match", Disposition.InvalidMatch);
        StateValues.Add("Initial Action Taken", Disposition.InitialActionTaken);
        StateValues.Add("Initial Action Date", Disposition.InitialActionAt);
        StateValues.Add("Final Disposition Taken", Disposition.FinalDisposition);

        if (!string.IsNullOrWhiteSpace(Disposition.FinalDisposition))
        {
            string finalDispositionDateDisplay = Disposition.FinalDisposition switch
            {
                "Benefits Approved" => "Benefits Start Date",
                "Benefits Terminated" => "Benefits End Date",
                _ => "Final Disposition Date"
            };
            StateValues.Add(finalDispositionDateDisplay, Disposition.FinalDispositionDate);
        }
    }
}

<StateInformation StateInfo="StateValues" Header="header" />