@using Piipan.Dashboard.Client.Models
@code {
    [Parameter] public ParticipantUploadModel Upload { get; set; } = new();
}
 <table class="usa-table">
            <thead>
                <th scope="col">State</th>
                <th scope="col">Uploaded at</th>
            </thead>
            @foreach (var record in Upload.ParticipantUploadResults)
            {

                DateTime localDateTime = record.UploadedAt.ToLocalTime();
                string timeZoneAbbreviation = TimeZoneInfo.Local.IsDaylightSavingTime(localDateTime) ? TimeZoneInfo.Local.DaylightName : TimeZoneInfo.Local.StandardName;
                <tr>
                    <td class="text-uppercase">@record.State</td>
                    <td title="Local time of Upload">@localDateTime.ToString("M/d/yyyy h:mm:ss tt").ToUpper() @timeZoneAbbreviation</td>
                </tr>

            }
        </table>
