@using Newtonsoft.Json
@using Piipan.Match.Api.Models.Resolution
@using Piipan.QueryTool.Client.Models

@code {
    [Parameter] public ParameterBase<MatchResApiResponse> Match { get; set; }
}
<div class="grid-container">

    <!-- Match header -->
    <div class="grid-row">
        <h3><span class="usa-tag bg-mint">@Match.Data.Data.Status</span> Match ID: @Match.Data.Data.MatchId</h3>
    </div>
    <!-- \match header -->

    

    <div>
    <!-- \match content -->
        @JsonConvert.SerializeObject(Match.Data)
    </div>
</div> 