@using Piipan.Components.Alerts
@using Piipan.Components.Enums
@using System.Linq.Expressions
@using Piipan.Match.Api.Models.Resolution
@using Piipan.QueryTool.Client.Components.MatchDetail
@using Piipan.QueryTool.Client.Models
@using Piipan.Shared.API.Utilities
@using static Piipan.Components.Alerts.AlertConstants
@inherits BaseComponentTest<ResolutionFields>

@code {
    /// <summary>
    /// Set the default initial values for this test component
    /// </summary>
    public ResolutionFieldsTests() : base()
    {
        
    }


    /// <summary>
    /// Create a StateParticipantInformation component
    /// </summary>
    protected override void CreateTestComponent()
    {
        Component = Render<ResolutionFields>(
            @<ResolutionFields State="Echo Bravo">
            </ResolutionFields>
        );
    }

    /// <summary>
    /// Create a StateParticipantInformation component
    /// </summary>
    protected void CreateTestComponentAlpha()
    {
        Component = Render<ResolutionFields>(
            @<ResolutionFields State="Echo Alpha">
            </ResolutionFields>
        );
    }

    #region Tests

    /// <summary>
    /// Verify the default markup of the state contact information
    /// </summary>
    [Fact]
    public void Vulnerable_Invalid_status_markup()
    {
        // Arrange
        CreateTestComponent();

        // Assert
        Component!.MarkupMatches(
            @<div >
              <h3 >Update information about this match for Echo Bravo</h3>
              <p class="infoSavedText" >After the information is saved, it will appear in the
                <b >match information</b>
                panel.</p>
              <div diff:ignore> //Ignoring Vulnerable Invalid Status Component
              </div>
              <div diff:ignore> //Ignoring Initial Action Component
              </div> 
              <h4 >FINAL DISPOSITION COMPONENT HERE</h4>
              <button class="usa-button" >Save Changes</button>
            </div>);
    }

    #endregion
}
